name: ci

on:
    workflow_dispatch:
    push:
        branches: [main]
        tags: ["v*"]
    pull_request:

permissions:
    contents: read

jobs:
    wheels:
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
        runs-on: ${{ matrix.os }}

        steps:
            - uses: actions/checkout@v4

            - name: Build wheels
              uses: PyO3/maturin-action@v1
              env:
                  RUST_FONTCONFIG_DLOPEN: "true"
              with:
                  command: build
                  args: --release --out dist --find-interpreter
                  manylinux: "auto"
                  sccache: "true"
                  target: ${{ matrix.os == 'macos-latest' && 'universal2' || '' }}

            - name: Smoke test (import)
              shell: bash
              run: |
                  set -euxo pipefail
                  PYBIN=$(command -v python || command -v python3)
                  "$PYBIN" -m pip install -U pip
                  "$PYBIN" -m pip install --find-links dist pybinwalk
                  "$PYBIN" -c "import pybinwalk; print('pybinwalk', pybinwalk.version())"

            - uses: actions/upload-artifact@v4
              with:
                  name: wheels-${{ matrix.os }}
                  path: dist/*

    sdist:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: PyO3/maturin-action@v1
              with:
                  command: sdist
                  args: --out dist
            - uses: actions/upload-artifact@v4
              with:
                  name: sdist
                  path: dist/*
    publish:
        if: startsWith(github.ref, 'refs/tags/v')
        needs: [wheels, sdist]
        runs-on: ubuntu-latest
        permissions:
            id-token: write
        environment:
            name: pypi
            url: https://pypi.org/p/pybinwalk
        steps:
            - uses: actions/download-artifact@v4
              with:
                  path: dist
                  merge-multiple: true

            - name: Publish to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
              with:
                  skip-existing: true
